[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "onemap"]
	path = onemap
	url = https://github.com/augusto-garcia/onemap
	shallow = true
	registered = true
